<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <script src="/assets/scripts.js"></script>
</head>
<body>
  <input type="hidden" id="texts-value" value="<%= @script_texts %>">
  <div class="flex flex-col min-h-screen justify-center bg-cover items-center bg-no-repeat bg-center" style="background-image: url('/toon.png');">


  
      <%# <div id="name-box" class="bg-gray-900 w-80 h-24  blur-sm  rounded-xl mx-40 bg-opacity-60" ></div> %>
      <div id="script-box" class="bg-gray-900 w-full h-96  mx-40 fixed bottom-0 bg-opacity-60 px-auto py-auto" > 
        <p id="script-text" class="text-6xl text-white mt-9 mx-9"></p>
      </div>





  </div>
</body>
</html>

